@model IEnumerable<Wardrobe.Models.Top>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.topName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.topPhoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.topColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.topSeason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.topOccasion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.topName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.topPhoto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.topColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.topSeason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.topOccasion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.topID }) |
            @Html.ActionLink("Details", "Details", new { id=item.topID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.topID })
        </td>
    </tr>
}

</table>
