@model Wardrobe.Models.Outfit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="container">
    <h4>Outfit</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.OutfitName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutfitName)
        </dd>
      

        <dt>
            @Html.DisplayNameFor(model => model.Top.TopName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Top.TopName)
            <img class="WardrobeImages" src="@Url.Content(Model.Top.TopPhoto)" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bottom.BottomName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bottom.BottomName)
            <img class="WardrobeImages" src= "@Url.Content(Model.Bottom.BottomPhoto)"/>
        </dd>
       
        <dt>
            @Html.DisplayNameFor(model => model.Shoe.ShoeName)
            
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shoe.ShoeName)
            <img class="WardrobeImages" src="@Url.Content(Model.Shoe.ShoePhoto)" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccessoryOutfitID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessoryOutfitID)
            @foreach (var i in Model.Accessories)
            {
                <img class="WardrobeImages" src="@Url.Content(i.AccessoryPhoto)" />
            }




        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OutfitID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
