@model Wardrobe.Models.Outfit

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.OutfitName)</h2>
<h3>@Html.DisplayFor(model => model.Occasion.OccasionName)</h3>
<h3>@Html.DisplayFor(model => model.Season.seasonName)</h3>

<div class="container">
    
    
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="thumbnail">
                <img class="WardrobeImages" src="@Url.Content(Model.Top.TopPhoto)" />
                <div class="caption">
                    <h3>@Html.DisplayFor(model => model.Top.TopName)</h3>
                   
                    </div>
            </div>
        </div>
    </div>
    
    

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="thumbnail">
                <img class="WardrobeImages" src="@Url.Content(Model.Bottom.BottomPhoto)" />
                <div class="caption">
                    <h3>@Html.DisplayFor(model => model.Bottom.BottomName)</h3>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="thumbnail">
                    <img class="WardrobeImages" src="@Url.Content(Model.Shoe.ShoePhoto)" />
                    <div class="caption">
                        <h3>@Html.DisplayFor(model => model.Shoe.ShoeName)</h3>
                    </div>
                </div>
            </div>
        </div>



        <div>

            @foreach (var i in Model.Accessories)
            {
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="thumbnail">
                            <img class="WardrobeImages" src="@Url.Content(i.AccessoryPhoto)" />
                            <div class="caption">
                                <h3>@Html.DisplayFor(model => i.AccessoryName)</h3>
                            </div>
                        </div>
                    </div>
                </div>
            }





        </div>
    </div>


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OutfitID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
